body {
    background-color: black;
    color:white;
    margin: 0;
    /* border: 2px solid white; */
}

/* @font-face {
    font-family: Arvo;
    src: url(Arvo/Arvo-Regular.ttf);
}

@font-face {
    font-family: Archivo_Black;
    src: url(Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: IBM;
    src: url(IBM_Plex_Mono/IBMPlexMono-Medium.ttf);
} */

/* @font-face {
    font-family: Poppins;
    src: url(Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins_bold;
    src: url(Poppins/Poppins-Bold.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.header {
    display:flex;
    justify-content: space-between;
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    color:rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 50px;
    align-items: center;
    font-size:15px;
    font-size: larger;
    border-bottom: 2px solid white;
    font-size: 17px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter:blur(50px);
    background-color: black;
    /* mix-blend-mode: difference; */
    z-index: 1;
}

/* -moz-filter:blur(10px);
-o-filter:blur(10px);
-webkit-filter:blur(10px); */

.links {
    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Poppins';
}

.links a{
    position: relative;
    color:white;
    text-decoration: none;
}

.links a:hover{
    color:white;
}


.links a::before{
    content:'';
    position: absolute;
    width: 100%;
    color:red;
    display: block;
    height: 2px;
    bottom: 0;
    left:0;
    background-color: white;
    transform: scaleX(0);
    /* transform-origin: top left; */
    transition: 0.3s ease;
}

.links a:hover::before{
    transform: scaleX(1);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-size:larger;
    font-weight: bolder;
    font-family: 'Poppins';
    text-decoration:overline;
}

.logo_image {
    height: 65px;
    width: auto;
    margin-top: 11px;
}

.menu_toggler{
    color:white;
    background: none;
    width: 45px;
    border: none;
    cursor:pointer;
    outline: none;
    z-index: 999;
    position: relative;
    display: none;
}

.menu_toggler span{
    display: block;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}
/* THIS IS THE RESPONSIVE PART */
@media screen and (max-width: 640px) {
    .menu_toggler {
        display: block;
    }
    .header {
        /* padding-right: 2em;
        padding-left: 1em; */
        justify-content: space-between;
        background-color: black;
    }
    .links {
        position: fixed;
        height: 100vh;
        width: 100%;
        right: 0;
        max-width: 100%;
        top:0;
        margin-top: 0;
        padding-left: 25% auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        opacity: 0;
        visibility:hidden;
    }
    
    .links a {
        display: block;
        font-size: 40px;
        transition: 1s ease;
    }

    .links a.active {
        transform: translateY(20px);
        transition: 1s;
    }

    .links.active {
        display:flex;
        transition: 1s ease;
        opacity: 100%;
        visibility: visible;
    }
    .menu_toggler.active span:nth-child(1){
        transform:rotate(45deg) translate(13px);
    }
    .menu_toggler.active span:nth-child(2){
        transform: translate(70px);
        opacity: 0;
    }
    .menu_toggler.active span:nth-child(3){
        transform:rotate(-45deg) translate(12px);
    }

    .introduction{
        /* justify-content: center !important; */
        /* height:100vh !important; */
        /* width: auto !important; */
        /* padding-bottom: 100px !important;
        padding-top: 50px !important; */
        font-size: 12vw!important;
        height:90vh !important;
;
    }
    .intro{
        display: flex;
        flex-direction: column;
    }
    .left_perfil{
        background-size: 100% !important;
        max-width: 200%;
        min-width: 100%;
        /* max-height: 200% !important; */
    }
    .aboutme{
        min-width: 100vw;
        padding: 5vh 0 !important;
        align-items: center !important;
        justify-content: center !important;
        font-size: 2.5vh !important;
        /* border-bottom: 1vh solid white; */
    }
    .me2 {
        padding:1em;
        text-align: center;
    }
    .scrolling {
        /* height: 50% !important;  */
        display: flex;
        flex-wrap: wrap;
        overflow:none ;
    }
    .scrolling img {
        width: 100% !important;
    }
    .text{
        font-size: 7vw !important;
    }
    .check{
        font-size: medium !important;
    }
}
 /* .box img:hover, .box img.clicked{
        margin-left:500px;
        -webkit-transition:1s; // you don't need to specify this again
     } */


.intro{
    display: flex;
    /* background-size: 205%; */
}

.left_perfil{
    background-color: white;
    left: 0;
    /* background-image: url(Intro_Future2.png); */
    /* background: url(Intro_Future2.png) white no-repeat; */
    /* background-size: 205%; */
    /* background-attachment:fixed; */
    width: 50%;
    /* height: 100%; */
    /* flex:1 !important; */
}

.aboutme{
    width: 50%;
    right:0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left:3em;
    padding-right: 3em;
    font-size: 1.5vw;
    font-family: 'Poppins';
    flex-wrap: wrap;
    flex:1 !important;
    max-height: 100vh;
}

.me1{
    color:red;
    align-items:flex-end;
    flex-wrap: wrap;
    justify-content:left;
    display: flex !important;
    font-weight: bolder;
    font-size: 140%;
    text-decoration:overline;
}

.me2 div{
    padding:10px;
}


.introduction{
    background-color: black;
    display:flex;
    flex-direction: column;
    padding: 0;
    /* padding-bottom: 10vh !important; */
    /* width: 100%; */
    /* right:0; */
    /* min-height: 13em; */
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 4em;
    font-family: 'Poppins';
    font-weight: bolder;
    height: 100vh;
}

.myself{
    display: flex;
    gap:15px
}

.future{
    color:red;
}

.showcase{
    /* width: 50vw; */
    background-color:rgb(255, 255, 255);
    min-height: 100vh;
    color:black;
    font-family: 'Poppins';
}
.description {
    text-align: center;
    padding-top: 2em;
    font-size: 5vh;
}

.projects{
    color:red;
    font-size: 1.5em;
    font-weight: bolder;
}

.dont {
    font-size: small;
}

/* .examples {
    display:flex;
    width: fit-content;
} */



/* .examples {
    display: inline-block;
    grid-template-columns: 50% 50%;
    position: relative;
}
.examples img {
    width: 100%;
}

.calc_txt {
    position: absolute;
    
}

.rps_txt{
    position: absolute;
}

.calculator {
    position: relative;
    display: inline-block;
}
.calculator :nth-child(1) .card {
    background: url(icons/calc_icons_512.png) center no-repeat;
    background-color: rgb(60, 60, 60);
    height: 55vh;
    width: 100%;
}

.text{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    width: 50vw;
    height: 100%;
    font-family: 'Poppins';
    color: red;
    font-size: 3em;
    font-weight: bolder;
    opacity: 0;
    transition: .5s ease;
}
.text > *{
    transform: translateY(-20px);
    transition: transform .5s;
}

.text:hover {
    opacity: 1;
    backdrop-filter: blur(5px);
    transition: .5s ease ;
    background: rgba(0, 0, 0, 0.4);
}
.text:hover > *{
    transform: translateY(0);
}
.button {
    font-size:large;
    font-family: 'Poppins';
    background-color: white;
    border:2px solid red;
    padding: 10px 30px;
    font-weight: 500;
    transition: .5s ease;
}

.button:hover{
    background-color: red;
    color:white;
    transition: .5s ease;
}

.rock-paper-scissors :nth-child(1) .card {
    background: url(icons/rps_512.png) center no-repeat;
    background-color: rgb(194, 194, 194);
    width: 100%;
    height: 55vh;
    right: 0;
}

.text_2{
    position: absolute;
    top:0;
    left: 0;
}

.etch-a-sketch :nth-child(1) .card{
    background: url(icons/etch_512.png) center no-repeat;
    background-color: rgb(194, 194, 194);
    height: 55vh;
}

.landing-page :nth-child(1) .card{
    background: url(icons/landing_512.png) center no-repeat;
    background-color: rgb(60, 60, 60);
    height: 55vh;
} */

/* .scrolling img:hover {
    opacity: 1;
} */

/* .calc_hover {
    position:absolute;
    width: 100%;
    height:59.6%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.calc_hover:hover {
    opacity: 1;
} */


.container{
    position: relative;
    width:49vw;
    display:inline-block;
    left: 0;
    top:0;
}

.image{
    display:block;
    width: 100%;
    background-color: rgb(82, 82, 82);
}
.overlay{
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
}
.container:hover .overlay{
    opacity: 1;
}
.text{
    /* width: 50vw;
    height: 100%; */
    font-family: 'Poppins';
    color: red;
    font-size: 5vw;
    font-weight: bolder;
    position: absolute;   
}
.overlayLeft{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container:hover .overlayLeft{
    width: 100%;
}
.check{
    font-size:2vw;
    font-family: 'Poppins';
    background-color: white;
    border:2px solid red;
    padding: 10px 30px;
    font-weight: 500;
    transition: .5s ease;
    
}
.check:hover{
    background-color: red;
    color:white;
    transition: .5s ease;
}


.contact_section{
    width: 100vw;
    height: 100vh;
}